# dependencies
node_modules/

# build output
dist/

# Next.js demo
.next/
out/

# env files
.env
.env.local
.env.*.local

# editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Lock 
pnpm-lock.yaml

# Docs
docs/
